@import 'transaction-breakdown-row/index';

.transaction-breakdown {
  &__title {
    padding-bottom: 15px;
    text-transform: capitalize;
    font-size: 26px;
    line-height: 24px;
    color: $Black-200;
  }

  &__row-title {
    text-transform: capitalize;
  }

  &__value {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--eth-total {
      font-weight: 500;
    }
  }
}
