.permissions-connect-header {
  flex: 0;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #FBFBFB;
  border-radius: 18px 18px 0px 0px;
  padding: 39px 39px 21px;

  &__icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: $Black-200;
    margin-top: 16px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $Black-200;
  }

  &__text {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 8px;

    /*rtl:ignore*/
    direction: rtl;
  }

  &__subtitle {
    margin-top: 4px;
  }
}
