.menu-bar {
  display: flex;
  position: absolute;
  right: 5%;
  align-items: flex-start;

  .menu-bar__account-options {
    background: none;
    font-size: inherit;
    padding: 7px 8px 0 5px;
    margin-left: 15px;
    color: white;
  }
}

.account-options-menu {
  &__explorer-origin {
    @include H7;

    color: var(--color-text-alternative);
  }
}

@media screen and (max-width: $break-small) {
  .menu-bar {
    position: static;
    right: auto;
  }
}