.confirm-page-container-header {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: #FBFBFB;
  padding: 38px 38px 0;

  &__row {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    align-items: center;

    & .network-display {
      margin-right: 0;
      height: 25px;
    }
  }

  &__back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    [dir='rtl'] & img {
      transform: rotate(180deg);
    }

    & > img {
      filter: grayscale(1);
    }
  }

  &__back-button {
    @include Paragraph;

    font-size: 14px;
    line-height: 24px;
    color: #0B0F33;
    cursor: pointer;
    padding-left: 14px;
  }

  &__address-container {
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  &__address {
    @include H6;

    margin-left: 6px;
  }
}
