.selected-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  &__tooltip-wrapper {
    width: 100%;
  }

  &__name {
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
    color: white;
    margin-bottom: 4px;
    width: 100%;
    text-align: left;
  }

  &__address {
    font-size: 14px;
    line-height: 21px;
    font-weight: light;
    color: #EBEBEB;
    display: flex;
    align-items: center;
  }

  &__clickable {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    background-color: unset;

    &:hover {
      
    }

    &:active {
      
    }
  }

  &__copy {
    display: inline-block;
    margin-inline-start: 3px;
    margin-left: 10px;
  }
}
