@import './send-content/send-gas-row/send-gas-row';

.send {
  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: $Grey-001;
    border-bottom: none;
    padding: 48px 48px 0px 48px;

    .page-container__title {
      @include H4;
      font-size: 30px;
      line-height: 45px;
      color: $Black-200;
    }

    .page-container__header-close-text {
      background: url(/images/close.svg) no-repeat center;
      width: 28px;
      height: 28px;

      position: absolute;
      right: 30px;
      top: 30px;
      padding: 0;
    }
  }

  &__dialog {
    margin: 1rem 3rem;
    cursor: pointer;
  }

  &__error-dialog {
    margin: 1rem 3rem;
  }

  &__warning-container {
    padding-left: 16px;
    padding-right: 16px;

    &__link {
      color: var(--primary-1);
    }
  }

  &__to-row {
    margin: 0;
    padding: 8px 48px 16px;
    flex: 0 0 auto;
    background-color: $Grey-001;
  }

  &__select-recipient-wrapper {
    @extend %col-nowrap;

    flex: 1 1 auto;
    height: 0;

    &__list {
      overflow-y: auto;

      &__link {
        @include Paragraph;

        @extend %row-nowrap;

        padding: 1rem;
        border-bottom: 1px solid var(--color-border-muted);
        border-radius: 0;
        align-items: center;
        justify-content: flex-start;
      }

      &__back-caret {
        @extend %bg-contain;

        display: block;
        margin-right: 8px;

        [dir='rtl'] & {
          transform: rotate(180deg);
        }
      }
    }

    &__recent-group-wrapper {
      @extend %col-nowrap;

      &__load-more {
        @include H7;

        padding: 0.5rem;
        text-align: center;
        border-bottom: 1px solid var(--color-border-muted);
        justify-content: flex-start;
      }
    }

    &__group {
      @extend %col-nowrap;
    }

    &__group-label {
      @include H8;

      background-color: var(--color-background-alternative);
      color: var(--color-text-alternative);
      padding: 0.5rem 1rem;
      border-bottom: 1px solid var(--color-border-muted);

      &:first-of-type {
        border-top: 1px solid var(--color-border-muted);
      }
    }

    &__group-item,
    &__group-item--selected {
      @extend %row-nowrap;

      padding: 0.75rem 1rem;
      align-items: center;
      border-bottom: 1px solid var(--color-border-muted);
      cursor: pointer;

      &:hover {
        background-color: rgba($alto, 0.2);
      }

      .identicon {
        margin-right: 1rem;
        flex: 0 0 auto;
      }

      &__content {
        @extend %col-nowrap;

        flex: 1 1 auto;
        width: 0;
      }

      &__title {
        @include H6;

        max-width: 20em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: var(--color-text-default);
      }

      &__subtitle {
        @include H8;

        color: var(--color-text-muted);
      }
    }

    &__group-item--selected {
      border: 2px solid var(--color-primary-default);
      border-radius: 8px;
    }
  }
}

.ens-input {
  @extend %row-nowrap;

  &__wrapper {
    @extend %row-nowrap;

    flex: 1 1 auto;
    width: 0;
    align-items: center;
    background: var(--color-background-default);
    border-radius: 0.5rem;
    padding: 13px 16px 11px;
    border: 1px solid $Grey-100;
    transition: border-color 150ms ease-in-out;

    &:focus-within {
      border-color: var(--color-border-default);
    }

    &__status-icon {
      margin: 4px 8px 4px 4px;
    }

    &__input {
      @include H6;

      flex: 1 1 auto;
      width: 0;
      border: 0;
      outline: none;
      color: var(--color-text-default);
      background-color: var(--color-background-default);

      &::placeholder {
        color: var(--color-text-muted);
      }
    }

    &__action-icon-button {
      background: none;
      border: none;
      padding: 0 8px;
      height: 24px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--valid {
      border-color: $Grey-101;

      .ens-input__wrapper {
        &__input {
          @extend %col-nowrap;

          @include H7;

          color: var(--color-primary-default);
        }
      }
    }
  }

  &__selected-input {
    &__title {
      @extend %ellipsify;

      display: flex;
      font-size: 16px;
      line-height: 27px;
      color: $Black-300;

      word-wrap: break-word;
      white-space: inherit !important;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 27px;
      color: $Black-300;
      margin-top: 0.25rem;
    }
  }
}
