.account-menu {
  position: absolute;
  z-index: 100;
  top: 58px;
  width: 612px;
  border-radius: 18px;
  background: white;
  box-shadow: rgba($black, 0.15) 0 2px 2px 2px;
  min-width: 150px;
  color: var(--color-text-default);

  @include screen-sm-max {
    right: 16px;
    width: 375px;
  }

  @include screen-sm-min {
    right: calc((100vw - 85vw) / 2);
  }

  @include screen-md-min {
    right: calc((100vw - 80vw) / 2);
  }

  @include screen-lg-min {
    right: calc((100vw - 65vw) / 2);
  }

  &__item {
    padding: 18px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    z-index: 201;
    border: 0;
    background: none;
    width: 100%;

    @include screen-sm-max {
      padding: 0 14px;
      height: 40px;
    }

    &--clickable {
      cursor: pointer;

      &:hover {
        // TODO: VAR?
        background-color: rgba($white, 0.85);
      }

      &:active {
        // TODO: VAR?
        background-color: rgba($white, 0.9);
      }
    }

    &__icon {
      margin-right: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      

      @media screen and (max-width: $break-small) {
        height: 25px;
        width: 25px;
        margin-right: 35px;
      }
    }

    &__text {
      font-size: 20px;
      line-height: 27px;
      color: $Black-300;
    }

    &__subtext {
      @include H7;

      padding: 5px 0 0 30px;
    }

    &--settings {
      padding: 17px 48px;
      background-color: white;
      color: $Black-300;
      font-size: 20px;
      line-height: 27px;
    }
  }

  &__divider {
    background-color: var(--color-border-muted);
    width: 100%;
    height: 1px;
  }

  &__close-area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &__icon {
    margin-left: 1rem;
    cursor: pointer;

    &--disabled {
      cursor: initial;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FBFBFB;
    border-radius: 18px 18px 0px 0px;
    padding: 39px 39px 20px;
    color: $Black-200;
    font-size: 25px;
    line-height: 45px;

    @media screen and (max-width: $break-small) {
      padding: 25px 25px 20px;
    }
  }

  &__header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 201;
  }

  & &__close-button {
    font-size: 18px;
    display: flex;
    cursor: pointer;
  }

  & &__lock-button {
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #B6B6B6;
    background-color: transparent;
    color: black;
    padding: 8px 30px;
    margin-top: 30px;
    cursor: pointer;

    @media screen and (max-width: $break-small) {
      font-size: 14px;
      line-height: 20px;
      padding: 6px 25px;
    }
  }

  &__item-icon {
    width: 16px;
    height: 16px;
  }

  &__accounts-container {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 200;
    margin-bottom: 17px;

    @media (max-height: 600px) {
      max-height: 236px;
    }
  }

  &__accounts {
    position: relative;

    @include screen-sm-max {
      max-height: 240px;
    }

    // If window is smaller than extension popover height
    // reduce scrollable accounts window height
    @media screen and (max-height: 600px) {
      max-height: 130px;
    }

    .keyring-label {
      @include H9;

      z-index: 1;
      border-radius: 10px;
      padding: 4px;
      text-align: center;
      height: 15px;
      margin-top: 5px;
      margin-right: 10px;
      background-color: var(--color-background-alternative);
      border: 1px solid var(--color-border-default);
      color: var(--color-text-default);
      font-weight: normal;
      letter-spacing: 0.5px;
      display: flex;
      align-items: center;
    }
  }

  &__notifications {
    position: relative;

    &__count {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      bottom: 0;
      min-width: 12px;
      min-height: 12px;
      font-size: 8px;
      border-radius: 50%;
      background-color: var(--color-primary-default);
      color: var(--color-primary-inverse);
    }
  }

  &__no-accounts {
    @include H6;

    padding: 16px 14px;
  }

  &__account {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    align-items: center;
    padding: 24px;
    flex: 0 0 auto;
    border-bottom: 1px solid #C5C6CB;

    @include screen-sm-max {
      padding: 12px 14px;
    }

    .remove-account-icon {
      width: 15px;
      margin-left: 10px;
      height: 15px;
    }

    &:hover {
      .remove-account-icon::after {
        content: '\00D7';
        font-size: 25px;
        color: var(--color-text-default);
        cursor: pointer;
        position: absolute;
        margin-top: -5px;
      }
    }
  }

  &__account-info {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
  }

  &__check-mark {
    margin-right: 19px;
    flex: 0 0 auto;
    width: 14px;
    height: 100%;
    color: $Black-200;
  }

  &__check-mark-icon {
    background-image: url("/images/check.svg");
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 3px 0;
  }

  .identicon {
    margin: 0 12px 0 0;
    flex: 0 0 auto;
  }

  &__name {
    font-size: 20px;
    line-height: 27px;
    color: $Black-300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    text-align: start;
  }

  &__balance {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: $Black-200;
  }

  &__action {
    @include Paragraph;

    cursor: pointer;
  }

  &__scroll-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    height: 28px;
    width: 28px;
    border-radius: 14px;
    border: 1px solid var(--color-border-default);
    background: var(--color-background-alternative);
    color: var(--color-icon-default);
    z-index: 201;
    cursor: pointer;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }
  }

  &__icon-list {
    display: flex;
  }

  &__bottom-buttons {
    background-color: white;
    display: flex;
    padding: 0 48px 48px;
    margin-top: 25px;

    .btn-secondary {
      height: 60px;
      margin-left: 15px;
      z-index: 201;
    }

    .btn-primary {
      height: 60px;
      margin-right: 15px;
      z-index: 201;
    }
  }
}
