@import 'welcome/index';
@import 'select-action/index';
@import 'seed-phrase/index';
@import 'end-of-flow/index';
@import 'metametrics-opt-in/index';


.first-time-flow {
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    @media screen and (min-width: $break-large) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .app-header__metafox-logo {
      margin-bottom: 40px;

      @media screen and (max-width: $break-small) {
        margin-bottom: 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__create-back {
    @include H1;

    display: flex;
    justify-content: center;

    text-align: center;
    color: white;

    background: $ui-bg;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 340px;
    margin-bottom: -310px;

    a {
      position: absolute;
      left: 0;
      font-size: 14px;
      line-height: 24px;
      margin-top: 15px;
    }
  }

  &__create-back-wrapper {
    width: 836px;
    position: relative;
  }

  &__form-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 836px;
    padding: 40px 110px;
    box-shadow: 0px 4px 63px -9px rgba(174, 177, 213, 0.25);
    margin-bottom: 40px;
  }

  &__header {
    font-size: 30px;
    line-height: 45px;
    color: $Black-200;
  }

  &__subheader {
    margin-bottom: 16px;
  }

  &__input {
    max-width: 350px;
  }

  &__textarea-wrapper {
    margin-top: 20px;
    margin-bottom: 8px;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    max-width: 350px;
    font-size: 14px;
    line-height: 24px;
    color: $Black-300;
  }

  &__textarea-label {
    @include H4;

    margin-bottom: 9px;
    color: #1b344d;
  }

  &__textarea {
    @include Paragraph;

    /*rtl:ignore*/
    direction: ltr;
    border: 1px solid #C5C6CB;
    background-color: #fff;
    padding: 16px;
    margin-top: 8px;
  }

  &__seedphrase {
    margin-top: 9px !important;
  }

  &__breadcrumbs {
    margin: 36px 0;
  }

  &__text-block {
    margin-bottom: 24px;
    color: black;

    @media screen and (max-width: $break-small) {
      @include H6;

      margin-bottom: 16px;
    }
  }

  &__button {
    margin: 35px 0 14px;
    width: 160px;
    height: 60px;
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }

  &__checkbox {
    background: #fff;
    border: 1px solid #C5C6CB;
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1.5px solid #2f9ae0;
    }

    .fa-check {
      color: #2f9ae0;
    }
  }

  &__checkbox-label {
    font-size: 14px;
    line-height: 24px;

    color: #0B0F33;
    margin-left: 14px;
  }

  &__link-text {
    color: $primary-blue;
  }
}

.first-time-flow__wrapper.intro {
  @media screen and (min-width: $break-large) {
    max-width: 1010px;
  }

  @media screen and (max-width: 1010px) {
    padding: 0 20px;
  }
}
