.transaction-activity-log {
  &__title {
    padding-bottom: 15px;
    text-transform: capitalize;
    font-size: 26px;
    line-height: 24px;
    color: $Black-200;
  }

  &__activities-container {
    padding-top: 8px;
  }

  &__activity {
    padding: 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 20px;
      border-right: 1px solid #D4E0FF;
    }

    &:first-child::after {
      height: 50%;
      top: 50%;
    }

    &:last-child::after {
      height: 50%;
    }

    &:first-child:last-child::after {
      display: none;
    }
  }

  &__activity-icon {
    width: 40px;
    height: 40px;
    margin-right: 21px;
    border-radius: 50%;
    background: #D5E0FF;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__activity-text {
    font-size: 20px;
    line-height: 24px;
    color: $Black-200;
    cursor: pointer;

    &:hover {
      color: $black;
    }
  }

  &__value {
    display: inline;
    font-weight: 500;
  }

  &__entry-container {
    min-width: 0;
  }

  &__action-link {
    @include H7;

    cursor: pointer;
    color: $primary-blue;
  }

  b {
    font-weight: 500;
  }
}
