.select-action {
  width: 100%;

  .app-header__logo-container {
    
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__body-header {
    @include H1;

    text-align: center;
    color: white;

    background: $ui-bg;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 340px;
    margin-bottom: -280px;
  }

  &__select-buttons {
    display: flex;
    flex-direction: row;
  }

  &__select-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 511px;
    height: 399px;
    box-sizing: border-box;
    margin-left: 30px;
    background-color: white;
    box-shadow: 0px 4px 63px -9px rgba(174, 177, 213, 0.25);
    padding: 32px 67px;

    .first-time-flow__button {
      width: 100%;
      max-width: 373px;
      height: 60px;
      border-radius: 0;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  &__button-symbol {
    color: #c4c4c4;
  }

  &__button-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__button-text-big {
    font-size: 30px;
    line-height: 45px;
    color: $Black-200;
    margin-top: 10px;
    text-align: center;
  }

  &__button-text-small {
    font-size: 16px;
    line-height: 27px;
    font-weight: light;
    color: $Black-300;
    margin-top: 16px;
    text-align: center;
  }

  button {
    font-weight: 500;
    width: 221px;
  }
}
